@import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');
html {
  scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
  
  }
  
  #hero{
  
    position: relative;
      width: 100%;
    height: 100vh;
      background: url("../img/bg-min.jpg") ;
  background-size: cover;
  margin: 0;

  }

  #hero h1{
    font-size: 56px;
    font-weight: 700;
    line-height: 64px;
    color: #fff;
    font-family: "Poppins", sans-serif;
  }

  #hero a {
    font-size: 56px;
    color: #FCC202;
    font-weight: 700;
    line-height: 64px;
    font-family: "Poppins", sans-serif;
  }



.nav-item{
   
    font-size: large   ;
    font-weight: 500;
    letter-spacing: 500;
    font-family: 'Vollkorn', serif;

}


.bg-dark {
    background:transparent !important;
    transition:0.75s ease;
}
.bg-dark.scrolled {
    background:#000 !important;
    opacity: 0.9;
    box-shadow: 0 8px 6px -6px rgb(0, 0, 0);
    
}

.mynav a{
    color:white ;
    margin-right: 30px;
}

.mynav a:hover{
    color: #FCC202 !important;
    border-bottom: 2px solid #FCC202;
}



.active a{
    color: #FCC202 !important;
    border-bottom: 2px solid #FCC202;
}



.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
  color: #FCC202 !important;
  border-bottom: 2px solid #FCC202;
}

.navbar-dark .navbar-nav .nav-link {
  color:white;
}


.mynav .navbar-brand:hover{
  border-bottom: 2px solid #000;

}

@media only screen and (max-width: 600px) {
 #hero{
   text-align: center;
   
 }

 #hero h1{
  font-size: 40px ;
 }

 
 #hero a{
  font-size: 40px ;
 }
}

.aboutimg{
  width:20%;
}



 
@media only screen and (max-width: 600px) {
 
.hidden{ display: none;}

 }
 
